@model ResearchesMVC.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uneviersity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uneviersity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.College)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.College)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specialize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specialize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudyTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudyTitle)
        </dd>

         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Goal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Goal)
        </dd>

         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.School_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.School_Type)
        </dd>

         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Term_Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Term_Year)
        </dd>

         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Term)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Term)
        </dd>

         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToolsPdfUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToolsPdfUrl)

        </dd>
    </dl>
</div>
<div>
    أدوات الدراسة:<br />
    @foreach(var item in Model.Tools)
    {
        <span>
            @item.StudyTool.ToolName <br>
        </span>
    }
</div>
<div>
    عينة الدراسة:<br />
    @foreach(var item in Model.Samples)
    {
        <span>
            @item.StudySample.SampleName <br>
        </span>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
